<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-nav></app-nav>
<div class="container">
  <div class="row">
    @if(loading) {
    <div class="d-flex justify-content-center">
      <img src="../assets/loading.svg" />
    </div>
    }
    @else{
    @for(mascota of mascotas; track mascota.id) {
    <div class="col-md-4">
      <app-mascota [mascota]="mascota"></app-mascota>
    </div>
    }
    }
  </div>
</div>
<app-footer></app-footer>
<router-outlet />